.git
.gitignore

# Node
frontend/node_modules
frontend/dist
frontend/dist-ssr

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.venv
venv

# Local env/data
.env
backend/data
*.db
*.sqlite
*.sqlite3

# Misc
release
release_tmp
